// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.orange,
.card-header {
    background-color: #ff8a66;
}

.btn {
    font-size: 20px;
    border: 1px solid #ff8a66;
    color: #ff8a66;
    background-color: transparent;
}

.thead-dark {
    background-color: #ff8a66;
}
